In [1]:
from pandas_datareader import data
import datetime

In [13]:
start=datetime.datetime(2019,9,1)
end=datetime.datetime(2019,9,30)

df=data.DataReader(name="AmzN",data_source="yahoo",start=start,end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-09-03,1800.800049,1768.000000,1770.000000,1789.839966,3543000,1789.839966
2019-09-04,1807.630005,1796.229980,1805.000000,1800.619995,2324100,1800.619995
2019-09-05,1842.000000,1815.579956,1821.949951,1840.719971,3310800,1840.719971
2019-09-06,1840.650024,1826.400024,1838.219971,1833.510010,2496900,1833.510010
2019-09-09,1850.000000,1824.609985,1841.000000,1831.349976,2999500,1831.349976
2019-09-10,1825.810059,1805.339966,1822.750000,1820.550049,2613900,1820.550049
2019-09-11,1833.420044,1809.079956,1812.140015,1822.989990,2432800,1822.989990
2019-09-12,1853.660034,1834.280029,1837.630005,1843.550049,2823500,1843.550049
2019-09-13,1846.119995,1835.170044,1842.010010,1839.339966,1971300,1839.339966
2019-09-16,1825.689941,1800.199951,1824.020020,1807.839966,3675500,1807.839966
2019-09-17,1823.989990,1804.099976,1807.079956,1822.550049,1982400,1822.550049
2019-09-18,1822.060059,1795.500000,1817.040039,1817.459961,2505600,1817.459961
2019-09-19,1832.569946,1817.900024,1821.020020,1821.500000,2031500,1821.500000
2019-09-20,1830.630005,1780.920044,1821.709961,1794.160034,5341900,1794.160034
2019-09-23,1792.699951,1767.319946,1777.000000,1785.300049,2922300,1785.300049
2019-09-24,1795.709961,1735.550049,1790.609985,1741.609985,4616000,1741.609985
2019-09-25,1773.000000,1723.000000,1747.359985,1768.329956,3493200,1768.329956
2019-09-26,1763.369995,1731.500000,1762.790039,1739.839966,3536800,1739.839966
2019-09-27,1749.119995,1713.819946,1748.000000,1725.449951,3907200,1725.449951
2019-09-30,1737.459961,1709.219971,1726.989990,1735.910034,2644700,1735.910034
2019-10-01,1755.599976,1728.410034,1746.000000,1735.650024,3084500,1735.650024